.vp-doc .stream-markdown {
  --background: var(--vp-c-bg);
  --foreground: var(--vp-c-text-1);
  --primary: var(--vp-c-brand-1);
}

.vp-doc .stream-markdown table {
  display: table;
  margin: 0;
}

.vp-doc .stream-markdown code {
  padding: 0;
}

.vp-doc .stream-markdown div[class*='language-'] {
  margin: 0 !important;
}

.vp-doc .stream-markdown div[class*='language-'] pre {
  padding: 1rem;
}
